.formContainer {
  width: 350px;
  margin: 50px auto;
}
.formContainer input:not([type="checkbox"]) {
  display: block;
  width: 100%;
}

.submitBtn {
  margin-top: 12px;
}

@media only screen and (max-width: 576px) {
  .formContainer {
    width: 300px;
  }
}
